<div class="forma">
<form>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">U</span>
  <input type="text" [(ngModel)]="ime" class="form-control" placeholder="Username"  aria-describedby="basic-addon1" name="ime">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">P</span>
  <input type="text" class="form-control" placeholder="Password" [(ngModel)]="password" aria-describedby="basic-addon1" name="password">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">E</span>
  <input type="text" class="form-control" placeholder="Enter first part of your mail" [(ngModel)]="email" aria-describedby="basic-addon2" name=email>
</div>
</form>
<h4>Uneli ste sledece:</h4>
<label>Username: {{ime}}</label><br>
<label>Password: {{password}}</label><br>
<label>Email: {{email}}</label>

</div>
<hr>
<app-component1></app-component1>
